.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    outline: 1px solid red;
}

.headline {
    width: 23%;
    padding: 1%;
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    color: white;
    outline: 1px solid red;
}

.nav {
    outline: 2px solid green;
    display: inline-flex;
    background-color: #424EDE;
}

nav {
    width: 73%;
    padding: 1%;
    outline: 1px solid red;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: auto;
    padding: 25px;
    background-image: url("../images/bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.heroImg div {
    box-shadow: 10px 10px #424EDE;
}

.content {
    background-color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    padding-top: 40px;
}

.content h1 {
    color: white;
    background-color: #424EDE;
    font-family: 'Cabin', sans-serif;
    font-size: 45px;
    text-align: center;
}

button {
    top: 1514px;
    left: 968px;
    width: 398px;
    height: 72px;
    background: #424EDE 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 33px;
    opacity: 1;
    color: white;
    cursor: pointer;
}

footer {
    background-color: #BCD1FF;
    padding: 1%;
}
footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    color: #424EDE;
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-size: 25px;
}